# Editors
.vscode/
.idea/

# Vagrant
.vagrant/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.swp

# Custom
checkpoints/
visuals/
logs/
xyz_{now}.npy
logs_bc/bc_image_resnet_frozen.sh.dlcgpu05.1159528.3.1159528.out
envs/ravens/
envs/ravens
logs_bc_fin/bc_vanilla.sh.dlcgpu12.2271435.1.2271435.out
logs_bc_fin/bc_vanilla.sh.dlcgpu12.2382153.1.2382153.out
logs_bc_fin/bc_vanilla.sh.dlcgpu24.2381482.1.2381482.out
logs_bc_fin/bc_vanilla.sh.dlcgpu43.2271915.1.2271915.out
logs_bc_fin/bc_vanilla.sh.dlcgpu43.2380246.1.2380246.out
envs
